.sources {
    padding-left: 20px;
    margin: 0 auto;
}

.categoryContainer {
    padding: 5px 0;
}

.category {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.sourceList {
    display: none;
    padding-left: 20px;
    list-style: none;
}

.sourceList.sourceListVisible {
    display: block;
}

.source {
    padding: 5px 0;
}

.sourceTitle {
    color: #383434;
    font-family: 'Source Sans Pro', sans-serif;
}
